.navbar-main{
    background:rgba(255, 255, 255, 0.2);
    padding: 5px;
    border-top:2px solid rgba(255, 255, 255, 0.6);
    border-left:2px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    color: white;
    /* box-shadow: 10px 10px 40px rgba(0,0,0,0.1); */
}
.navbar-main .head{
    margin: 5px;
}
.navbar-main .home,.navbar-main .join , .navbar-main .exit{
    margin: 5px;
    padding: 5px;
}
.navbar-main .exit{
    float: right;
    cursor: pointer;
}
.navbar-main a{
    color: inherit;
    text-decoration:none; 
}