<div class="navbar-main">
    <h2 class="head">
        <a routerLink=''>
            <span class="home">Home</span>
        </a>
        <a routerLink='signup'>
            <span class="join">Signup</span>
        </a>
        <a routerLink='login'>
            <span class="join">Login</span>
        </a>
        <a routerLink='users'>
            <span class="join">Chats</span>
        </a>
        <a (click)='exit()'>
            <span class="exit">Exit</span>
        </a>   
    </h2>
</div>
