.input-main{
    background-color: rgba(255, 248, 220,0.5);
    width: fit-content;
    margin: 5px;
    padding: 5px;
    border: 1px solid silver;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-send,.input-text{
    margin: 10px;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 6px;
}
.input-text{
    width: 20vw;
}

@media (max-width: 1080px) {
    .input-text{
        width: 50vw;
    }
}