<div class="message-main" appScroll>
    <!-- <p class="my-text">
            
            <span class="message">
                <span class="type">You</span>
                Hello there.
            </span>
    </p>
    <p class="other-text">
            <span class="message">
                <span class="type">Rick</span>
                Hello there.
            </span>
    </p> -->
    <p [ngClass]="{'other-text':elem.id != user.id,'my-text': elem.id == user.id}" *ngFor='let elem of messages'>
        <span class="message">
            <span class="type" *ngIf='elem'>
               <span *ngIf='elem.id == user.id'>You</span><span *ngIf='elem.id != user.id'>{{elem.name}}</span> 
               <span class="message-time">{{elem.date | date:'short'}}</span>
            </span>
            {{elem.message}}
        </span>
    </p>
</div>
