<div class="message-main" appScroll>
    <!-- <p class="my-text">
            
            <span class="message">
                <span class="type">You</span>
                Hello there.
            </span>
    </p>
    <p class="other-text">
            <span class="message">
                <span class="type">Rick</span>
                Hello there.
            </span>
    </p> -->
    <p [ngClass]="{'other-text':elem.type == 'other','my-text': elem.type == 'me'}" *ngFor='let elem of messages'>
        <span class="message">
            <span class="type" *ngIf='elem.user'>{{elem.user.name}}</span>
            {{elem.message}}
        </span>
    </p>
</div>
