.message-main{
    /* background: linear-gradient(to right,rgb(255, 255, 255),rgb(255, 255, 255,0.5)); */
    background: rgba(255, 255, 255,0.4);
    width: 45vw;
    height: 60vh;
    margin: 5px;
    padding: 5px;
    border: 1px solid silver;
    border-radius: 5px;
    overflow-y: scroll;
}
.my-text,.other-text{
    display: flex;
    margin: 0px;
    padding: 0px;
}
.my-text{
    justify-content: flex-start;
}
.other-text{
    justify-content: flex-end;
}
.my-text .message,.other-text .message{
    margin: 5px;
    padding: 5px;
    border-top: 2px solid rgb(255, 255, 255,0.5);
    border-left: 2px solid rgb(255, 255, 255,0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 15px 15px 15px rgb(0, 0, 0,0.4);
}
.other-text .message{
    background-color: skyblue;
}
.my-text .message{
    background-color: rgb(57, 170, 214);
}

.message-main::-webkit-scrollbar {
    display: none;
}

.my-text .type , .other-text .type {
 font-size: 10px;
}