.message-main{
    background-color: beige;
    width: 45vw;
    height: 60vh;
    margin: 5px;
    padding: 5px;
    border: 1px solid silver;
    border-radius: 5px;
    overflow-y: scroll;
}
.my-text,.other-text{
    display: flex;
    margin: 0px;
    padding: 0px;
}
.my-text{
    justify-content: flex-start;
}
.other-text{
    justify-content: flex-end;
}
.my-text span,.other-text span{
    margin: 5px;
    padding: 5px;
    border: 1px solid silver;
    border-radius: 5px;
}
.my-text span{
    background-color: skyblue;
}
.other-text span{
    background-color: rgb(57, 170, 214);
}

.message-main::-webkit-scrollbar {
    display: none;
}
