.user-row{
display: flex;
justify-content: center;
}
.user-column{
    background: rgba(255,255,255,0.2);
    margin: 5px auto;
    padding: 5px;
}
.user-column #header{
    color: rgba(255,255,255,1);
    text-align: center;
}
.user-name{
    margin:0px 5px;
    font-size: 15px;
}