<div nz-row class="user-row">
    <div nz-col nzSpan="12" class="user-column">
        <h3 id='header'>Users</h3>
        <div *ngIf='!users' class="loader"><nz-spin nzSimple class="spin"></nz-spin></div>
        <div *ngIf='users'>
            <div *ngFor="let user of users">
            <p (click)='clickHandler(user)'*ngIf='id !== user._id' class="user-list">
                    <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
                    <span class="user-name">{{user.userName}}</span> 
                    <i nz-icon nzType="message" nzTheme="outline"></i>
            </p>
        </div>
        </div>
    </div>
</div>
    
                
